<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="com.hz.spring_ioc.service.DAO.Student" autowire="byType">
        <property name="name" value="张三"></property>
        <property name="age" value="20"></property>
    </bean>

    <bean id="student2" class="com.hz.spring_ioc.service.DAO.Student">
        <constructor-arg name="name" value="李四"></constructor-arg>
        <constructor-arg name="age" value="25"></constructor-arg>
        <constructor-arg name="school" ref="school"></constructor-arg>
    </bean>

    <bean id="student3" class="com.hz.spring_ioc.service.DAO.Student">
        <constructor-arg index="0" value="王五"></constructor-arg>
        <constructor-arg index="1" value="30"></constructor-arg>
        <constructor-arg index="2" ref="school"></constructor-arg>
    </bean>
</beans>